<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>学IT - 后台管理系统</title>
    <?php include('./views/common/style.html');?>
    <link rel="stylesheet" href="/public/assets/bootstrap-datepicker/css/bootstrap-datepicker.css"/>
</head>
<body>
<!-- 侧边栏 -->
<div class="aside">
    <!-- &lt;!&ndash; 个人资料 &ndash;&gt;
     <div class="profile">
         &lt;!&ndash; 头像 &ndash;&gt;
         <div class="avatar img-circle">
             <img src="./uploads/avatar.jpg">
         </div>
         <h4>布头儿</h4>
     </div>-->
    <!-- 导航菜单 -->
    <?php include('./views/common/aside.html');?>
</div>
<!-- 主体 -->
<div class="main">
    <div class="container-fluid">
        <!-- 头部 -->
        <?php include('./views/common/header.html');?>
        <div class="body teacher" id="teacherInfo">

        </div>
    </div>
</div>
<?php include('./views/common/script.html');?>
<!--添加讲师-->
<script type='text/template' id="teacherTpl">
    <!-- 面包屑 -->
    <ol class="breadcrumb">
        <li><a href="javascript:;">讲师管理</a></li>
        <li class="active">{{operate}}</li>
    </ol>
    <div class="teacher-add">
        <form id="teacherForm" class="form-horizontal col-xs-offset-2">
            <div class="form-group">
                <!--编写隐藏域 只在编辑时才存在隐藏域-->
                {{if tc_id}}
                <input type="hidden" name="tc_id" value="{{tc_id}}"/>
                {{/if}}
                <label class="col-xs-3 control-label">姓名</label>

                <div class="col-xs-4">
                    <input type="text" data-required data-description="tc_name" data-describedby="tcNameDesc" name="tc_name" value="{{tc_name}}" class="form-control input-sm" placeholder="讲师名称">
                </div>
                <div col-xs-2 id="tcNameDesc"></div>
            </div>
            <!-- tc_id存在时在编辑 不存在时在添加 编辑时不显示密码 添加讲师时显示密码-->
            {{if !tc_id}}
            <div class="form-group">
                <label class="col-xs-3 control-label">密码</label>

                <div class="col-xs-4">
                    <input type="password" data-required data-description="tc_pass" data-describedby="tcNameDesc1" name="tc_pass"  class="form-control input-sm">
                </div>
                 <div col-xs-2 id="tcNameDesc1"></div>
            </div>
            {{/if}}
            <div class="form-group">
                <label class="col-xs-3 control-label">入职时间</label>

                <div class="col-xs-4">
                    <input type="text" data-required data-description="tc_join_date" data-describedby="tcNameDesc2" data-provide='datepicker' data-date-language='zh-CN'
                          data-date-format='yyyy-mm-dd' name="tc_join_date" value="{{tc_join_date}}" class="form-control input-sm">
                </div>
                <div col-xs-2 id="tcNameDesc2"></div>
            </div>
            <div class="form-group">
                <label class="col-xs-3 control-label">类型</label>

                <div class="col-xs-2">
                    <select name="tc_type" class="form-control input-sm">
                        <!--<option value="1"></option>之间的值是浏览器显示在下拉列表中的内容，
                        而 value 属性中的值是表单被提交时被发送到服务器的值。-->
                        <option value="1" {{if tc_type ==1}}selected{{/if}}>讲师</option>
                        <option value="0" {{if tc_type ==0}}selected{{/if}}>管理员</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-3 control-label">性别</label>

                <div class="col-xs-4">
                    <label class="radio-inline">
                        <input type="radio" name="tc_gender" value="1" {{if tc_gender ==1}}checked{{/if}}> 男
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="tc_gender" value="0"> 女
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="col-xs-7">
                    <input type="submit" id="teacherBtn" class="btn btn-success btn-sm pull-right" value="提交"/>
                </div>
            </div>
        </form>
    </div>
</script>
<!--引入外部js-->
<script>
    require(['teacheradd']);
</script>
</body>
</html>